/* General stylesheet */
.clearfix{
    *zoom:1;
}
.clearfix:before,.clearfix:after{
    display:table;
    content:"";
    line-height:0;
}
.clearfix:after{
    clear:both;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
    margin:0;
    padding:0;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img{
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var{
    font-style:normal;
    font-weight:normal;
}
ol,ul{
    list-style:none;
}
caption,th{
    text-align:left;
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight:normal;
}
q:before,q:after{
    content:'';
}
abbr,acronym{
    border:0;
}
table{
    font-size:inherit;
    font:100%;
}
pre,code,kbd,samp,tt{
    font-family:monospace;
    *font-size:108%;
    line-height:100%;
}
a{
    text-decoration:none;
}
a:link,a:visited{
    color:#0167D8;
}
#main{
    min-height:100%;
}
em{
    font-style:italic;
}
ol,ul{
    list-style:none;
}
html body{
    font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",sans-serif;
    font-size:13px;
    line-height:1.4em;
    color:#333;
    background: url("../img/base-noise.jpg") repeat;
    -webkit-font-smoothing:antialiased;
    overflow-x:hidden;
    margin:0;
}
input,textarea,select{
    border:1px solid #CCC;
    font-size:14px;
    margin-right:5px;
    padding:4px;
}
input:hover,textarea:hover,select:hover{
    -moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
    border:1px solid #b9b9b9;
    border-top:1px solid #a0a0a0;
    box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
input:focus,textarea:focus,select:focus{
    -moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
    border:1px solid #b9b9b9;
    border-top:1px solid #a0a0a0;
    box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
input.btn,button,.button{
    font-weight:bold;
    border:1px solid #999;
    color:#333;
    text-shadow:0 1px 0px white;
    padding:0.4em 0.7em;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    background-color:#EEE;
    background-image:-moz-linear-gradient(#f7f7f7, #d6d6d6);
    background-image:-o-linear-gradient(#f7f7f7, #d6d6d6);
    background-image:-ms-linear-gradient(#f7f7f7, #d6d6d6);
    background-image:-webkit-linear-gradient(#f7f7f7, #d6d6d6);
    box-shadow:0 1px 1px #cccccc,inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
input.btn:hover,button:hover,.button:hover{
    border-color:#777;
    background-image:-webkit-linear-gradient(#ffffff, #d6d7d8);
}
input.btn:active,button:active,.button:active{
    border-color:#777;
    background-image:-webkit-linear-gradient(#dcdcdc, #dedede);
}
.btn{
    font-size:16px;
    text-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
    font-weight:bold;
    margin-top:5px;
}
code{
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    display:block;
    padding:10px 15px 13px 15px;
    margin-bottom:1em;
    background-color:white;
    border:solid 1px #EFEEE6;
    color:#F14E32;
    font-family:Courier,monospace !important;line-height:18px;
}
.clear{
    clear:both;
    margin:0px;
    padding:0px;
}

/*body*/

.rule_done{
    margin-top:10px;
    background:#F0F0EE;
    width:450px;
    font-size: 12px;
}

.addOption a:hover{
     color:#00CACA;;
}
#update_option a:hover{
     color:#00CACA;;
}

.aspects{
	margin-top:10px;
}
.aspects .addAspects1{
    float: left;
}
.aspects .addAspects2{
    float:left;
    margin-left:395px;
    height:23px;
}
.aspects #aspects{
    width:390px;
}
.aspects #addAspects2{
    height:23px;
    background:#f4f4f4;
    vertical-align:middle;
}
#answer{
	margin-top:10px;
}
#option{
	margin-bottom: 10px;
}
.point{
  margin-top:10px;
}
.level{
  margin-top:10px;
}
.confirm{
  margin-top:15px;

}
#option .test_box {
    width: 400px; 
    height: 50px;
    margin-left: auto; 
    margin-right: auto; 
    padding: 3px; 
    outline: 0; 
    border: 1px solid #a0b3d6; 
    font-size: 12px; 
    word-wrap: break-word;
    resize:none;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius:5px;
}
#option .test_box:focus {
    -moz-box-shadow: 0 0 6px rgba(0, 100, 255, .45);
    -webkit-box-shadow: 0 0 6px rgba(0, 100, 255, .45);
    box-shadow: 0 0 6px rgba(0, 100, 255, .45);
    border-color: #34538B;
}
#option .choice{
    margin-right: 10px;

}
#option .ops{
    margin-bottom: 3px;
}
#essay_answer {
    width: 400px; 
    min-height:100px; 
    max-height:100px;
    _height:100px; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 3px; 
    outline: 0; 
    border: 1px solid #a0b3d6; 
    font-size: 12px; 
    word-wrap: break-word;
    resize:none;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius:5px; 
    margin-bottom: 10px;
}
#essay_answer:focus{
    -moz-box-shadow: 0 0 6px rgba(0, 100, 255, .45);
    -webkit-box-shadow: 0 0 6px rgba(0, 100, 255, .45);
    box-shadow: 0 0 6px rgba(0, 100, 255, .45);
    border-color: #9DACCC;

}

